body {
  margin-top: 50px;
}
.city {
  margin-top: 50px;
}
.city-picture {
  width: 150px;
  display: block;
  position: absolute;
  text-align: center;
  left: 100px;
  top: 200px;
}

.city-picture-two {
  width: 150px;
  display: block;
  position: absolute;
  text-align: center;
  right: 100px;
  bottom: 105px;
}

h1 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 30px;
}

small {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 15px;
}

.searchButton {
  font-weight: bold;
  font-size: 15px;
  background-color: #60e9ff;
  color: white;
  border-radius: 30%;
  border-color: white;
  font-size: 20px;
}

.cityEnter {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
}

.col-Monday {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}
.minimum-temperature {
  opacity: 0.6;
}
.col-Tuesday {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}
.col-Wednesday {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}
.col-Thursday {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}
.col-Friday {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
